@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;1,400&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;1,400&family=Overpass:wght@200;300;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background{
    background-image: url(../images/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 100px;
}
.title{
    display: flex;
    justify-content: center;
    padding:80px 0 50px;
}
.title h4{
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 54.8px;
    color: #fff;
    padding: 0 18px;
}
.bg-content h3{
    font-size: 37.5px;
    font-weight: 200;
    font-family: 'Overpass', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
form{
    width: 80%;
    max-width: 1100px;
    margin: 0 345px;
}
.row12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-group{
    margin-bottom: 70px;
    position: relative;
}
label{
    height: 100%;
    position: absolute;
    left: -10px;
    top: -40px;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
input{
    width: 50%;
    padding: 10px;
    outline: 0;
    border: 1px solid #ffc901;
    background-color: transparent;
    font-size: 15px;
    color: #fff;
    border-radius: 6px;
}
.row123{
    max-width: 1100px;
    margin: auto;
}
.row123 .btn-01{
    width: 375px;
    height: 65px;
    background-color: #ffc901;
    display: inline-block;
    font-size: 30px;
    outline: none;
    margin: 0 210px;
}
@media (min-width:1920px){
    form{
        margin: 0 666px;
    }
}
@media (max-width:768px){
    form{
        margin: 0 150px;
    }
    .bg-content h3{
        font-size: 29.5px;
    }
    .title h4{
        font-size: 40.8px;
    }
    input{
        width: 225px;
    }
    .row123 .btn-01{
        width: 350px;
        height: 60px;
        margin: 0 118px;
    }
}
@media (max-width:401px){
    form{
        margin: 0 110px;
    }
    .row12{
        display: block;
    }
    .row123{
        margin: 0 -230px;
    }
    .row123 .btn-01{
        width: 260px;
        height: 50px;
        margin: 0 200px;
    }
    .title h4{
        font-size: 33.8px;
    }
    .bg-content h3{
        font-size: 18.5px;
    }
}